#chart {
  max-height: 100%;

  #chart-border {
    fill: none;
    stroke: black;
    stroke-width: 1;
  }

  #title {
    font-size: 2.3rem;
  }

  #description {
    font-size: 1rem;
  }

  .county {
    &:hover {
      stroke: black;
    }
  }
}

#tooltip {
  width: calc(250px - 2rem);
  position: fixed;
  background: black;
  color: white;
  opacity: 0.9;
  border-radius: 5px;
  padding: 1rem;
  white-space: pre;
}
